{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hidden Audio Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo">🎧 Hidden Audioo Tracker</div>
    <div class="nav-links">
    <a href="/">Home</a>

    {% if user.is_authenticated %}
        <a href="/dashboard/">Dashboard</a>
        <a href="/send/">Send</a>
        <a href="/inbox/">Inbox</a>
        <a href="/outbox/">Outbox</a>
        <a href="/profile/">Profile</a>
        <a href="/logout/">Logout</a>
    {% else %}
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
    {% endif %}
</div>
</nav>

{% block content %}
{% endblock %}

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>