{% extends 'tracker/base.html' %}

{% block content %}
<section class="table-page">
    <div class="table-card">
        <h1>Inbox</h1>

        {% for msg in messages_list %}
            <div class="message-row">
                <div>
                    <h3>{{ msg.subject }}</h3>

                    <p><strong>From:</strong> {{ msg.sender.username }}</p>

                    {% if msg.note %}
                        <p><strong>Note:</strong> {{ msg.note|truncatechars:80 }}</p>
                    {% endif %}

                    <small>{{ msg.created_at }}</small>

                    {% if not msg.is_read %}
                        <span class="badge unread">New</span>
                    {% else %}
                        <span class="badge read">Read</span>
                    {% endif %}
                </div>

                <div class="message-actions">
                    <a href="{% url 'message_detail' msg.id %}" class="btn primary">
                        View Message
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No messages received yet.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}